.container{
    display: grid;
    grid-template-areas: "logo logo sign"
                         "logo logo socialmedia"
                         "secondcontainer secondcontainer secondcontainer";
    background-color: whitesmoke;
}

.logo{
    grid-area: logo;
}
.sign{
    grid-area: sign;
    display:flex;
  justify-content: flex-end;
}
.socialmedia{
    grid-area: socialmedia;
    display:flex;
  justify-content: flex-end;
}
.secondcontainer{
    grid-area: secondcontainer;
    background-color: #e2e2e2;
}

fieldset{
        background-color: #5f4c4c;
      }


